/* app/globals.css */
@import "tailwindcss";

@theme  {
  --color-primary-1: #ffffff;
  --color-primary-2: #f4f4f4;
  --color-secondary-1: #0f3460;
  --color-secondary-2: #e94560;
  --color-secondary-3: #fafafa;
  --color-background-1: #36454F;
}

[data-theme="light"] {
  --color-primary-1: #ffffff;
  --color-primary-2: #FFE599;
  --color-secondary-1: #0f3460;
  --color-secondary-2: #60c844;
  --color-secondary-3: #FF731C;
  --color-background-1: #ffffff;
}

[data-theme="dark"] {
  --color-primary-1: #000000;
  --color-primary-2: #2960ea;
  --color-secondary-1: #ffffff;
  --color-secondary-2: #6c7280;
  --color-secondary-3: #1a1a1a;
  --color-background-1: #000000;
}

.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: var(--color-background-1) transparent;
}